<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand -->
    <a routerLink="/admin/dashboard" class="brand-link">
        <span class="brand-text font-weight-light">Open Your Shop</span>
    </a>

    <div class="sidebar">

        <!-- Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column">

                @for (item of menu; track item.label) {

                @if (isAllowed(item)) {

                <!-- SINGLE LINK -->
                @if (!item.children) {
                <li class="nav-item">
                    <a [routerLink]="item.route" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon" [class]="item.icon"></i>
                        <p>{{ item.label }}</p>
                    </a>
                </li>
                }

                <!-- TREE VIEW -->
                @if (item.children) {
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon" [class]="item.icon"></i>
                        <p>
                            {{ item.label }}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        @for (child of item.children; track child.label) {
                        <li class="nav-item">
                            <a [routerLink]="child.route" routerLinkActive="active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{ child.label }}</p>
                            </a>
                        </li>
                        }
                    </ul>
                </li>
                }

                }
                }

            </ul>
        </nav>
    </div>
</aside>