<form [formGroup]="currentForm">
    <!-- 
    <h4 class="text-center mb-3">
        {{ currentStep?.title }}
    </h4> -->

    <div class="container">

        @for (row of rows; track trackRow($index, row)) {
        <div class="row">

            @for (field of row; track trackField($index, field)) {

            <div class="mb-3" [ngClass]="getColClass(field)" [hidden]="field.hidden">

                <!-- LABEL -->
                @if (field.label && field.type !== 'checkbox' && field.type !== 'switch') {
                <label class="form-label">{{ field.label }}</label>
                }

                @switch (field.type) {

                <!-- ================= BASIC INPUTS ================= -->

                @case ('text') {
                <div class="input-group mb-3">

                    <!-- PREFIX -->
                    @if (field.prefixText || field.prefixIcon || field.addonCheckbox || field.addonRadio) {
                    <div class="input-group-prepend">
                        <span class="input-group-text">

                            @if (field.prefixIcon) {
                            <i [class]="field.prefixIcon"></i>
                            }

                            @if (field.prefixText) {
                            {{ field.prefixText }}
                            }

                            @if (field.addonCheckbox) {
                            <input type="checkbox">
                            }

                            @if (field.addonRadio) {
                            <input type="radio">
                            }

                        </span>
                    </div>
                    }

                    <!-- INPUT -->
                    <input type="text" class="form-control" [formControlName]="field.key"
                        [placeholder]="field.placeholder" [readonly]="field.readonly" />

                    <!-- SUFFIX -->
                    @if (field.suffixText || field.suffixIcon || field.addonButton) {
                    <div class="input-group-append">

                        @if (field.addonButton) {
                        <button type="button" class="btn" [ngClass]="field.addonButton.class || 'btn-primary'">
                            {{ field.addonButton.text }}
                        </button>
                        }

                        @if (!field.addonButton) {
                        <span class="input-group-text">
                            @if (field.suffixIcon) {
                            <i [class]="field.suffixIcon"></i>
                            }
                            @if (field.suffixText) {
                            {{ field.suffixText }}
                            }
                        </span>
                        }

                    </div>
                    }

                </div>
                }

                @case ('email') {
                <div class="input-group mb-3">
                    <input type="email" class="form-control" [formControlName]="field.key"
                        [placeholder]="field.placeholder" [autocomplete]="field.autocomplete" />
                    @if (field.prefixIcon) {
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i [class]="field.prefixIcon"></i>
                        </span>
                    </div>
                    }

                </div>
                }
                @case ('password') {
                <div class="input-group mb-3">
                    <input type="password" class="form-control" [formControlName]="field.key"
                        [autocomplete]="field.autocomplete" [placeholder]="field.placeholder" />
                    @if (field.prefixIcon) {
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i [class]="field.prefixIcon"></i>
                        </span>
                    </div>
                    }
                </div>

                }

                @case ('number') {
                <div class="input-group mb-3">

                    @if (field.prefixText) {
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ field.prefixText }}</span>
                    </div>
                    }

                    <input type="number" class="form-control" [formControlName]="field.key" [min]="field.min??null"
                        [max]="field.max??null" [step]="field.step" />

                    @if (field.suffixText) {
                    <div class="input-group-append">
                        <span class="input-group-text">{{ field.suffixText }}</span>
                    </div>
                    }

                </div>
                }

                @case ('textarea') {
                <textarea class="form-control" rows="3" [formControlName]="field.key"
                    [placeholder]="field.placeholder"></textarea>
                }

                @case ('tel') {
                <input type="tel" class="form-control" [formControlName]="field.key" [placeholder]="field.placeholder"
                    [autocomplete]="field.autocomplete" />
                }

                @case ('url') {
                <input type="url" class="form-control" [formControlName]="field.key"
                    [placeholder]="field.placeholder" />
                }

                @case ('search') {
                <input type="search" class="form-control" [formControlName]="field.key"
                    [placeholder]="field.placeholder" [autocomplete]="field.autocomplete" />
                }

                <!-- ================= CHECK / SWITCH ================= -->

                @case ('checkbox') {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [formControlName]="field.key" />
                    <label class="form-check-label">{{ field.label }}</label>
                </div>
                }

                @case ('switch') {
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" [formControlName]="field.key" />
                    <label class="form-check-label">{{ field.label }}</label>
                </div>
                }

                <!-- ================= SELECT / OPTIONS ================= -->

                @case ('select') {
                <select class="form-control" [formControlName]="field.key" [multiple]="field.multiple">
                    <option value="">Select</option>
                    @for (opt of field.options || []; track opt.value) {
                    <option [value]="opt.value" [disabled]="opt.disabled">
                        {{ opt.label }}
                    </option>
                    }
                </select>
                }

                @case ('dropdown') {
                <select class="form-control" [formControlName]="field.key">

                    <!-- Placeholder -->
                    <option [ngValue]="null" disabled>
                        {{ field.placeholder || 'Select option' }}
                    </option>

                    @for (opt of field.options || []; track opt.value) {
                    <option [ngValue]="opt.value">
                        {{ opt.label }}
                    </option>
                    }

                </select>
                }



                @case ('radio') {
                <div class="d-flex gap-3">
                    @for (opt of field.options || []; track opt.value) {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" [formControlName]="field.key"
                            [value]="opt.value" />
                        <label class="form-check-label">{{ opt.label }}</label>
                    </div>
                    }
                </div>
                }

                <!-- ================= DATE / TIME ================= -->

                @case ('date') {
                <input type="date" class="form-control" [formControlName]="field.key" />
                }

                @case ('time') {
                <input type="time" class="form-control" [formControlName]="field.key" />
                }

                @case ('datetime') {
                <input type="datetime-local" class="form-control" [formControlName]="field.key" />
                }

                @case ('month') {
                <input type="month" class="form-control" [formControlName]="field.key" />
                }

                @case ('week') {
                <input type="week" class="form-control" [formControlName]="field.key" />
                }

                <!-- ================= FILE / MEDIA ================= -->

                @case ('file') {
                <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">

                    <!-- IMAGE + ICON -->
                    <div class="image position-relative">

                        <!-- PROFILE IMAGE (click to upload) -->
                        <img [src]="getFilePreview(field.key)" class="img-circle elevation-2 user-img" alt="User Image"
                            (click)="fileInput.click()" title="Click to upload"
                            onerror="this.src='assets/img/user2-160x160.jpg'" />

                        <!-- REMOVE ICON (only when uploaded) -->
                        @if (filePreviews[field.key]) {
                        <span class="remove-icon" (click)="removeFile(field.key, fileInput)" title="Remove image">
                            &times;
                        </span>
                        }

                        <!-- UPLOAD ICON (when no image) -->
                        @if (!filePreviews[field.key]) {
                        <span class="upload-icon" (click)="fileInput.click()" title="Upload image">
                            <i class="fas fa-camera"></i>
                        </span>
                        }

                    </div>

                    <!-- INFO -->
                    <div class="info ms-3">
                        <span class="d-block text-muted">
                            {{ field.label || 'Profile Image' }}
                        </span>
                        <!-- <small class="text-muted">
                            Click image to upload
                        </small> -->
                    </div>

                    <!-- HIDDEN FILE INPUT -->
                    <input #fileInput type="file" hidden [attr.accept]="field.accept || 'image/*'"
                        (change)="onFileChange($event, field.key)" />

                </div>
                }

                @case ('image') {
                <input type="file" class="form-control" accept="image/*" />
                }

                <!-- ================= ADVANCED ================= -->

                @case ('range') {
                <input type="range" class="form-range" [formControlName]="field.key" [min]="field.min"
                    [max]="field.max" />
                }

                @case ('color') {
                <input type="color" class="form-control form-control-color" [formControlName]="field.key" />
                }

                @case ('hidden') {
                <input type="hidden" [formControlName]="field.key" />
                }

                @case ('readonly') {
                <p class="form-control-plaintext">
                    {{ currentForm.get(field.key)?.value }}
                </p>
                }

                <!-- ================= FORM ARRAY ================= -->

                @case ('array') {
                <div [formArrayName]="field.key" class="array-wrapper">

                    @for (grp of getArray(field.key).controls; track $index) {

                    <div class="card card-outline card-primary mb-3">
                        <div class="card-header d-flex justify-content-between py-2">
                            <span>{{ field.label }} {{ $index + 1 }}</span>

                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-secondary"
                                    (click)="toggleEdit(field.key, $index)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeArrayItem(field.key, $index)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body" [formGroupName]="$index">
                            <div class="row">
                                @for (f of field.arrayFields!; track f.key) {
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">{{ f.label }}</label>
                                    <input class="form-control" [type]="f.type" [formControlName]="f.key" />
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    }

                    <button type="button" class="btn btn-sm btn-outline-primary"
                        (click)="addArrayItem(field.key, field.arrayFields!)">
                        <i class="fas fa-plus"></i>
                        Add {{ field.label }}
                    </button>

                </div>
                }

                }

                @if (shouldShowError(field.key)) {
                <small class="text-danger d-block mt-1">
                    {{ getErrorMessage(field) }}
                </small>
                }
                <!-- HINT -->
                @if (field.hint) {
                <small class="text-muted">{{ field.hint }}</small>
                }

            </div>

            }
        </div>
        }

    </div>

    <!-- ACTION BUTTONS -->
    <div class="mt-3 d-flex justify-content-between">
        @if (stepIndex > 0) {
        <button class="btn btn-secondary" (click)="back()">Back</button>
        }

        @if (stepIndex < steps.length - 1) { <button class="btn btn-primary" (click)="next()">Next</button>
            } @else {
            <button class="btn btn-success" (click)="submit()">Submit</button>
            }
    </div>

</form>